@media (max-width: 576px) {
    .hide{
        display: none;
    }

    div#datatable_info.dataTables_info{
        display: none;
    }
    li.paginate_button.page-item.previous a.page-link,
    li.paginate_button.page-item.next a.page-link{
        display: inline;
    }
    li.paginate_button.page-item a.page-link{
        display: none;
    }
 }

@media (max-width: 768px) {
    body{
        background-color: #fff;
    }
 }

@media (max-width: 992px) { 
    .hide-md{
        display: none;
    }

    div#datatable_info.dataTables_info{
        display: none;
    }
    
 }

@media (max-width: 1200px) {
    body{
        background-color: #fff;
    }
 }